In [1]:
import pandas as pd

# Reading data

In [2]:
df=pd.read_csv('data.csv')

In [3]:
df.head #will give top 5 values

<bound method NDFrame.head of            fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0      98.332734         0   36          1          -1              0
1     101.488868         1   88          0           0              1
2      98.295029         1   71          1          -1              1
3      99.440096         1   80          0           1              0
4      98.917922         1    6          1           1              0
...          ...       ...  ...        ...         ...            ...
2570  100.426833         1   58          1           0              1
2571   99.970904         1   63          0           0              0
2572   98.072294         0   38          1          -1              1
2573   98.503010         1   55          0           1              1
2574   98.689390         0   83          0           0              1

[2575 rows x 6 columns]>

In [4]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2570  100.426833         1   58          1           0              1
2571   99.970904         1   63          0           0              0
2572   98.072294         0   38          1          -1              1
2573   98.503010         1   55          0           1              1
2574   98.689390         0   83          0           0              1

In [5]:
df.head

<bound method NDFrame.head of            fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0      98.332734         0   36          1          -1              0
1     101.488868         1   88          0           0              1
2      98.295029         1   71          1          -1              1
3      99.440096         1   80          0           1              0
4      98.917922         1    6          1           1              0
...          ...       ...  ...        ...         ...            ...
2570  100.426833         1   58          1           0              1
2571   99.970904         1   63          0           0              0
2572   98.072294         0   38          1          -1              1
2573   98.503010         1   55          0           1              1
2574   98.689390         0   83          0           0              1

[2575 rows x 6 columns]>

In [6]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2570  100.426833         1   58          1           0              1
2571   99.970904         1   63          0           0              0
2572   98.072294         0   38          1          -1              1
2573   98.503010         1   55          0           1              1
2574   98.689390         0   83          0           0              1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2575 entries, 0 to 2574
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2575 non-null   float64
 1   bodyPain       2575 non-null   int64
 2   age            2575 non-null   int64
 3   runnyNose      2575 non-null   int64
 4   diffBreath     2575 non-null   int64
 5   infectionProb  2575 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 120.8 KB